.c-courses{
    background-color: c('light-blue');
    z-index: 3;
    padding: 60px;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    &--carousel-wrapper{
        width: 100%;
    }
    &--info{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        margin-top: 15px;
    }
    &--text{
        width: 100%;
    }
    &--carousel{
        height: 400px;
        .owl-item{
            background-color: c('rustop');
            height: 400px;
            .item{
                height: 400px;
                img{
                object-fit: cover;
                height: 100%;
                }
            }
        }
    }
    h1{
        font-size: 32px;
        font-family: 'Avenir LT Std 95 Black';
        text-align: center;
        margin-block-end: 0px;
        margin-block-start: 0;
    }
    p{
        line-height: 22px;
    }
    a{
        color: c('dark-blue');
    }
    a:hover{
        color: c('boom-blue');
    }
}

.animated {
    -webkit-animation-duration : 3000;
    animation-duration : 3000;
    -webkit-animation-fill-mode : both;
    animation-fill-mode : both;
  } 

  @keyframes slideOutLeft {
    from {
      transform: translate3d(0, 0, 0);
    }
  
    to {
      visibility: hidden;
      transform: translate3d(-100%, 0, 0);
    }
  }
  
  .slideOutLeft {
    animation-name: slideOutLeft;
  }

@keyframes flipInY {
    from {
      transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
      animation-timing-function: ease-in;
      opacity: 0;
    }
  
    40% {
      transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
      animation-timing-function: ease-in;
    }
  
    60% {
      transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
      opacity: 1;
    }
  
    80% {
      transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
    }
  
    to {
      transform: perspective(400px);
    }
  }
  
  .flipInY {
    backface-visibility: visible !important;
    animation-name: flipInY;
  }

@include medium {
    @import'medium';
}
@include large {
    @import'large';
}