.c-courses{
    background-color: c('light-blue');
    z-index: 3;
    padding: 60px;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    h1{
        font-size: 32px;
        font-family: 'Avenir LT Std 95 Black';
        text-align: center;
        margin-block-end: 20px;
        margin-block-start: 0;
    }
    p{
        line-height: 22px;
    }
    a{
        color: c('dark-blue');
    }
    a:hover{
        color: c('boom-blue');
    }
}