.c-form{
    display: flex;
    flex-direction: column;
    width: 500px;
    &--checkbox{
        display: flex;
        align-items: center;
        margin-bottom: 10px;
    }
    &--error{
        border: 2px solid c('error');
    }
}

textarea{
    font-family: Arial, Helvetica, sans-serif;
    background-color: c('table-op2');
    border: none;
    margin: 10px 0px;
    padding: 10px;
    border-radius: 5px;
}
input{
    background-color: c('table-op2');
    border-radius: 5px;
    border: none;
    margin: 10px 0px;
    height: 32px;
    padding: 0 10px;
}