.c-footer {
    width: 100%;
    &-bottom {
        background-color: c('dark-blue');
        display: flex;
        align-items: center;
        height: 40px;
        padding: 0px 30px;
        color: c('white');
        justify-content: center;
        font-size: 12px;
    }
    &-top{
        background-color: c('medium-blue');
        display: flex;
        align-items: center;
        padding: 30px 30px;
        color: c('white');
        &--nav {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            width: 100%;
            justify-content: space-around;
            padding: 0 10px;
            box-sizing: border-box;
            &__col{
                display: flex;
                flex-direction: column;
                width: 100%;
                margin-bottom: 20px;
                text-align: center;
            }
            &__colSpecial{
                margin-right: 0px;
                margin-bottom: 30px;
            }
        }
        &--company{
            color: c('white');
        }
        &--option {
            color: c('white');
            line-height: 25px;
            &__top{
            font-size: 18px;
            color: c('white');
            font-weight: 800;
            padding-bottom: 20px;
            }
        }
        p{
            line-height: 25px;
        }
    }
  }

  
  
  @include medium {
      @import'medium';
  }
  @include large {
      @import'large';
  }