.c-header {
  background-color: #283756;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 70px;
  padding: 0px 30px;
}

.c-header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.c-header-nav__options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 0px 100px;
}

.c-header-nav--option {
  display: none;
}

.c-header--icon {
  display: block;
  width: 35px;
}

.c-header-mobile {
  background-color: #283756;
  position: fixed;
  width: 300px;
  height: 100%;
  right: 0;
  z-index: 12;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-left: 1px solid #97a6c2;
}

.c-header-mobile--baseHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 60px;
  padding: 0px 20px;
  border-bottom: 1px solid #97a6c2;
}

.c-header-mobile--back {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 60px;
  padding: 0px 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  border-bottom: 1px solid #97a6c2;
  cursor: pointer;
}

.c-header-mobile--icon {
  width: 22px;
  cursor: pointer;
}

.c-header-mobile--icon__rotate {
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
}

.c-header-mobile--icon__rotate2 {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  margin-right: 10px;
}

.c-header-mobile--option {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 20px;
  height: 60px;
  color: white;
  border-bottom: 1px solid #97a6c2;
  cursor: pointer;
}

.c-header-mobile--optionTitle {
  padding: 0px 20px;
  height: 60px;
  color: white;
  background-color: #304f8b;
  border-bottom: 1px solid #97a6c2;
  font-weight: 800;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-margin-before: 0em;
          margin-block-start: 0em;
  text-decoration: underline;
  -webkit-margin-after: 0em;
          margin-block-end: 0em;
}

.c-header-mobile--option:hover {
  text-decoration: underline;
  color: #8bb4c1;
}

.c-header-mobileWrapper {
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 11;
}

a:link {
  line-height: 25px;
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: #8bb4c1;
}

a:active {
  text-decoration: underline;
  color: #8bb4c1;
}

.centered {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/*
* DROPDOWN
*/
.c-dropmat--box {
  width: 14%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 15px 0px 20px;
  overflow: hidden;
  cursor: pointer;
}

.c-dropmat--box span {
  color: white;
  position: absolute;
  bottom: 0px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 800;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(40, 55, 86, 0.5);
  width: 100%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.c-dropmat--box img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: -webkit-transform 0.5s, -webkit-filter 1s ease-in-out;
  transition: -webkit-transform 0.5s, -webkit-filter 1s ease-in-out;
  transition: transform 0.5s, filter 1s ease-in-out;
  transition: transform 0.5s, filter 1s ease-in-out, -webkit-transform 0.5s, -webkit-filter 1s ease-in-out;
  -webkit-filter: blur(2px);
          filter: blur(2px);
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.c-dropmat--box:hover img {
  -webkit-filter: blur(0);
          filter: blur(0);
  -webkit-transform: scale(1);
          transform: scale(1);
}

.c-dropmat--box:hover span {
  background-color: #4b6598;
}

.dropbtn {
  background-color: #283756;
  color: white;
  padding: 0px 40px;
  height: 70px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: none;
}

.c-menu-op {
  display: none;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #283756;
  min-width: 160px;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-materials {
  display: none;
}

.dropdown-content-materials {
  left: 0px;
  display: none;
  position: absolute;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: #283756;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0px 20px;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-materials:hover .dropdown-content-materials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.dropdown-materials:hover .dropbtn {
  background-color: #304f8b;
  text-decoration: underline;
}

.dropdown-content a {
  color: white;
  padding: 18px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #4b6598;
  text-decoration: underline;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #304f8b;
  text-decoration: underline;
}

/*
 *  SCROLLBAR
 */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #a3c1e5;
  border-radius: 10px;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: #a3c1e5;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #a3c1e5;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#283756), color-stop(#8bb4c1), to(#283756));
  background-image: linear-gradient(to top, #283756, #8bb4c1, #283756);
}

@media only screen and (min-width: 1024px) {
  .c-header {
    background-color: #283756;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 70px;
    padding: 0px 30px;
    z-index: 7;
  }
  .c-header-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    z-index: 7;
  }
  .c-header-nav--option {
    color: white;
    z-index: 7;
    display: block;
    position: relative;
  }
  .c-header--icon {
    display: none;
  }
  .c-header-mobileWrapper {
    display: none;
  }
  .c-servicesOptions {
    width: 200px;
    height: 500px;
    z-index: 5;
    background-color: #283756;
    position: absolute;
  }
  .dropdown {
    position: relative;
    display: inline-block;
  }
  .dropdown-materials {
    display: inline-block;
    text-align: center;
  }
  .c-menu-op {
    background-color: #283756;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0px 30px;
    font-size: 16px;
    color: white;
    height: 70px;
  }
  .c-menu-op:hover {
    text-decoration: underline;
    background-color: #304f8b;
    color: white;
  }
}

.c-language {
  display: none;
}

@media only screen and (min-width: 1024px) {
  .c-language {
    width: 120px;
    height: 50px;
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .c-language--flag, .c-language--lang {
    margin-right: 5px;
  }
  .c-language-options {
    background-color: #283756;
    border-top: none;
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    z-index: 10;
  }
  .c-language-option {
    background-color: #283756;
    border: none;
    -webkit-transition-duration: 0.4s;
            transition-duration: 0.4s;
    cursor: pointer;
    color: white;
    padding: 16px 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .c-language-option:hover {
    background-color: #304f8b;
  }
  .c-language--icon__opened {
    -webkit-animation: spin 0.2s ease-in-out;
    animation: spin 0.2s linear;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
  }
  .language {
    position: relative;
  }
  @-webkit-keyframes spin {
    100% {
      -webkit-transform: rotate(180deg);
      transform: rotate(180deg);
    }
  }
  @keyframes spin {
    100% {
      -webkit-transform: rotate(180deg);
      transform: rotate(180deg);
    }
  }
}

.c-footer {
  width: 100%;
}

.c-footer-bottom {
  background-color: #283756;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 70px;
  padding: 0px 30px;
  color: white;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.c-footer-bottom a {
  color: white;
}

.c-footer-top {
  background-color: #4b6598;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 30px;
  color: white;
}

.c-footer-top--nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.c-footer-top--nav__col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 100px;
  width: 200px;
  margin-bottom: 20px;
}

.c-footer-top--company {
  color: white;
}

.c-footer-top--option {
  color: white;
}

.c-footer-top--option__top {
  font-size: 18px;
  color: white;
  font-weight: 800;
  padding-bottom: 20px;
}

.c-footer-top p {
  line-height: 25px;
}

.c-modal-background {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0px;
  z-index: 8;
}

.c-modal {
  background-color: #e6e7e8;
  width: 70vw;
  height: 70vh;
  position: fixed;
  left: 15vw;
  top: 15vh;
  z-index: 9;
}

.c-modal--cross {
  width: 30px;
  position: absolute;
  right: 10px;
  top: 10px;
}

.c-arrow {
  background-color: #283756;
  border: 2px solid #8bb4c1;
  border-radius: 10%;
  position: fixed;
  bottom: 40px;
  right: 60px;
  width: 30px;
  height: 30px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.c-company {
  background-color: #97a6c2;
  z-index: 3;
  padding: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 130px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.c-company h1 {
  font-size: 36px;
  font-weight: 800;
  -webkit-margin-after: 40px;
          margin-block-end: 40px;
  -webkit-margin-before: 0;
          margin-block-start: 0;
}

.c-company h4 {
  margin-top: 20px;
  line-height: 25px;
}

.c-company p {
  line-height: 25px;
  -webkit-margin-before: 0em;
          margin-block-start: 0em;
  -webkit-margin-after: 1em;
          margin-block-end: 1em;
}

.c-company--img {
  width: 100%;
}

.c-company--card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 20px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 50px;
}

.c-company--card--left {
  width: 100%;
}

.c-company--card--right {
  width: 100%;
}

.c-company--card--right h4 {
  -webkit-margin-before: 1em;
          margin-block-start: 1em;
}

.c-company--card--img {
  width: 100%;
  border: 1px solid #283756;
  border-collapse: collapse;
}

.c-company--card--photo {
  border: 1px solid #283756;
  border-collapse: collapse;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  margin-top: -4px;
}

.c-company--card--end {
  -webkit-margin-before: 2em !important;
          margin-block-start: 2em !important;
}

.c-company--card--firm {
  text-align: right;
}

.c-company--portfolio {
  margin: auto;
  padding: 20px;
  border: none;
  border-radius: 20px;
  background-color: #4b6598;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
  color: white;
  font-weight: 800;
  font-size: 16px;
}

.c-company--portfolio:hover {
  background-color: #304f8b;
}

@media only screen and (min-width: 1024px) {
  .c-company--card--left {
    width: 48%;
  }
  .c-company--card--right {
    width: 48%;
  }
  .c-company--card--right h4 {
    -webkit-margin-before: 0em;
            margin-block-start: 0em;
  }
}

.c-home {
  background-color: #97a6c2;
  width: 100%;
  padding-top: 130px;
  z-index: 3;
}

.c-courses {
  background-color: #97a6c2;
  z-index: 3;
  padding: 60px;
  padding-top: 130px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.c-courses h1 {
  font-size: 36px;
  font-weight: 800;
  -webkit-margin-after: 40px;
          margin-block-end: 40px;
  -webkit-margin-before: 0;
          margin-block-start: 0;
}

.c-courses p {
  line-height: 22px;
}

.c-courses a {
  color: #283756;
}

.c-courses a:hover {
  color: #304f8b;
}

.c-showrooms {
  background-color: #97a6c2;
  z-index: 3;
  padding: 60px;
  padding-top: 130px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.c-showrooms h1 {
  font-size: 36px;
  font-weight: 800;
  -webkit-margin-after: 40px;
          margin-block-end: 40px;
  -webkit-margin-before: 0;
          margin-block-start: 0;
}

.c-showrooms p {
  line-height: 22px;
}

.c-showrooms a {
  color: #283756;
}

.c-showrooms a:hover {
  color: #304f8b;
}

.c-contact {
  background-color: #97a6c2;
  z-index: 3;
  padding: 60px;
  padding-top: 130px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.c-contact h1 {
  font-size: 36px;
  font-weight: 800;
  -webkit-margin-after: 40px;
          margin-block-end: 40px;
  -webkit-margin-before: 0;
          margin-block-start: 0;
}

.c-contact--map {
  border: 1px solid black;
  margin-bottom: 20px;
}

.c-contact--container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.c-contact button {
  height: 30px;
  width: 100px;
  margin: auto;
  margin-top: 0px;
}

.c-social-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 40px;
}

.c-social-container img {
  width: 200px;
}

.c-social-container span {
  color: #283756;
  width: 100px;
}

.c-social-container :hover span {
  font-weight: 800;
}

.c-social-container:hover span {
  font-weight: 800;
}

.c-slider {
  height: calc( 100vh - 70px);
  -o-object-position: center;
     object-position: center;
  -o-object-fit: cover;
     object-fit: cover;
}

.c-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 500px;
}

.c-form--checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
}

.c-form--error {
  border: 2px solid #b50000;
}

textarea {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #c1cde3;
  border: none;
  margin: 10px 0px;
  padding: 10px;
  border-radius: 5px;
}

input {
  background-color: #c1cde3;
  border-radius: 5px;
  border: none;
  margin: 10px 0px;
  height: 32px;
  padding: 0 10px;
}

.c-table {
  border-collapse: collapse;
  width: 90%;
  margin: auto;
  margin-top: 2em;
  font-size: 12px;
}

.c-table--title {
  text-align: center !important;
}

.c-table th {
  border: 1px solid black;
  padding: 8px;
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #6c83ae;
  color: white;
}

.c-table td {
  border: 1px solid black;
  padding: 8px;
}

.c-table tr {
  background-color: #adb8ce;
}

.c-table tr:nth-child(even) {
  background-color: #c1cde3;
}

.c-table tr:hover {
  background-color: #8bb4c1;
}

.c-seal {
  height: 40px;
}

.c-materials {
  background-color: #97a6c2;
  z-index: 3;
  padding: 60px;
  padding-top: 130px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.c-materials h1 {
  font-size: 36px;
  font-weight: 800;
}

.c-materials--header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.c-materials--header--title {
  font-size: 36px;
  font-weight: 800;
  -webkit-margin-after: 0;
          margin-block-end: 0;
  -webkit-margin-before: 0;
          margin-block-start: 0;
}

.c-materials--header--subtitle {
  font-size: 15px;
  font-weight: 800;
  margin-left: 2em;
}

.c-materials--header--icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.c-materials--header--icons img {
  margin-left: 10px;
}

.c-materials--presentation {
  font-size: 18px;
  font-weight: 800;
}

.c-materials--subpresentation {
  font-size: 15px;
  font-style: italic;
  font-weight: 300;
  margin-bottom: 20px;
}

.c-materials--base {
  font-size: 17px;
  font-style: bold;
}

.c-materials--exp {
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 20px;
  line-height: 22px;
}

.c-materials--sis {
  font-size: 16px;
  font-style: bold;
  font-weight: 500;
  margin-top: 20px;
}

.c-materials--note {
  font-size: 16px;
  font-style: bold;
  font-weight: 500;
  line-height: 22px;
  margin-top: 10px;
  margin-left: 25px;
}

.c-materials--note__title {
  margin-top: 40px;
  font-size: 16px;
  font-style: bold;
  font-weight: 500;
  line-height: 30px;
}

.c-materials--top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0px 0px 30px;
}

.c-materials--block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 16px;
  padding: 10px 15px 20px;
  border: 1px solid #304f8b;
}

.c-materials--block--op {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 40px;
  font-weight: 800;
}

.c-materials--block--prod {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 30px;
  margin-left: 25px;
  cursor: pointer;
}

.c-materials--button {
  margin-top: 20px;
  padding: 15px 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #304f8b;
  cursor: pointer;
  color: white;
  font-weight: 800;
}

@media only screen and (min-width: 768px) {
  .c-table {
    font-size: 16px;
  }
}

@media only screen and (min-width: 1024px) {
  .c-seal {
    height: 60px;
  }
}
/*# sourceMappingURL=main.css.map */