.c-header {
  background-color: #191261;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  z-index: 12;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 70px;
  padding: 0px 30px;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.c-header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.c-header-nav__options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.c-header-nav--option {
  display: none;
}

.c-header--logo {
  height: 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 40px;
}

.c-header--logo img {
  height: 80%;
}

.c-header--icon {
  display: block;
  width: 35px;
}

.c-header-mobile {
  background-color: #191261;
  position: fixed;
  width: 300px;
  height: 100%;
  right: 0;
  z-index: 15;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-left: 1px solid #FFF;
}

.c-header-mobile--baseHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 60px;
  padding: 0px 20px;
  border-bottom: 1px solid #FFF;
}

.c-header-mobile--back {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 60px;
  padding: 0px 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  border-bottom: 1px solid #FFF;
  cursor: pointer;
}

.c-header-mobile--icon {
  width: 22px;
  cursor: pointer;
}

.c-header-mobile--icon__rotate {
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
}

.c-header-mobile--icon__rotate2 {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  margin-right: 10px;
}

.c-header-mobile--option {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 20px;
  height: 60px;
  color: white;
  border-bottom: 1px solid #FFF;
  cursor: pointer;
}

.c-header-mobile--optionTitle {
  padding: 0px 20px;
  height: 60px;
  color: white;
  background-color: #292183;
  border-bottom: 1px solid #FFF;
  font-weight: 800;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-margin-before: 0em;
          margin-block-start: 0em;
  text-decoration: underline;
  -webkit-margin-after: 0em;
          margin-block-end: 0em;
}

.c-header-mobile--option:hover {
  text-decoration: underline;
  color: #8bb4c1;
}

.c-header-mobileWrapper {
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 13;
}

a:link {
  line-height: 24px;
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: #6D6E70;
}

a:active {
  text-decoration: underline;
  color: #8bb4c1;
}

.centered {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/*
* DROPDOWN
*/
.c-dropmat--box {
  width: 14.5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  height: 150px;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 20px 0px 30px;
  overflow: hidden;
  cursor: pointer;
}

.c-dropmat--box span {
  color: white;
  position: absolute;
  bottom: 0px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Avenir LT Std 95 Black';
  text-shadow: 0 0 0.2em #000;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(40, 55, 86, 0.5);
  width: 100%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.c-dropmat--box img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: -webkit-transform 0.5s, -webkit-filter 1s ease-in-out;
  transition: -webkit-transform 0.5s, -webkit-filter 1s ease-in-out;
  transition: transform 0.5s, filter 1s ease-in-out;
  transition: transform 0.5s, filter 1s ease-in-out, -webkit-transform 0.5s, -webkit-filter 1s ease-in-out;
  -webkit-filter: brightness(80%);
          filter: brightness(80%);
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.c-dropmat--box:hover img {
  -webkit-filter: brightness(100%);
          filter: brightness(100%);
  -webkit-transform: scale(1);
          transform: scale(1);
}

.c-dropmat--box:hover span {
  background-color: #6D6E70;
}

.dropbtn {
  background-color: #191261;
  color: white;
  padding: 0px 40px;
  height: 70px;
  font-size: 16px;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dropdown {
  position: relative;
  display: none;
}

.c-menu-op {
  display: none;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #191261;
  min-width: 160px;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-materials {
  display: none;
}

.dropdown-content-materials {
  left: 0px;
  display: none;
  position: absolute;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: #191261;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0px 20px;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-materials:hover .dropdown-content-materials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.dropdown-materials:hover .dropbtn {
  background-color: #3b3a4b;
  text-decoration: underline;
}

.dropdown-content a {
  color: white;
  padding: 18px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #6D6E70;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3b3a4b;
  text-decoration: underline;
}

/*
 *  SCROLLBAR
 */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #a3c1e5;
  border-radius: 10px;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: #a3c1e5;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #a3c1e5;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#191261), color-stop(#8bb4c1), to(#191261));
  background-image: linear-gradient(to top, #191261, #8bb4c1, #191261);
}

.opacity-off {
  opacity: 0;
  display: none !important;
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media only screen and (min-width: 1024px) {
  .c-header {
    background-color: #191261;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 70px;
    padding: 0px 30px;
  }
  .c-header-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    z-index: 7;
  }
  .c-header-nav--option {
    color: white;
    z-index: 7;
    display: block;
    position: relative;
  }
  .c-header--icon {
    display: none;
  }
  .c-header-mobileWrapper {
    display: none;
  }
  .c-servicesOptions {
    width: 200px;
    height: 500px;
    z-index: 5;
    background-color: #191261;
    position: absolute;
  }
  .dropdown {
    position: relative;
    display: inline-block;
  }
  .dropdown-materials {
    display: inline-block;
    text-align: center;
  }
  .c-menu-op {
    background-color: #191261;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0px 30px;
    font-size: 16px;
    color: white;
    height: 70px;
  }
  .c-menu-op:hover {
    text-decoration: underline;
    background-color: #3b3a4b;
    color: white;
  }
}

.c-language {
  display: none;
}

@media only screen and (min-width: 1024px) {
  .c-language {
    width: 120px;
    height: 50px;
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-left: 20px;
    cursor: pointer;
  }
  .c-language--flag, .c-language--lang {
    margin-right: 5px;
  }
  .c-language-options {
    background-color: #191261;
    border-top: none;
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 18px;
    z-index: 10;
  }
  .c-language-option {
    background-color: #191261;
    border: none;
    -webkit-transition-duration: 0.4s;
            transition-duration: 0.4s;
    cursor: pointer;
    color: white;
    padding: 17px 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .c-language-option:hover {
    background-color: #292183;
  }
  .c-language--icon__opened {
    -webkit-animation: spin 0.2s ease-in-out;
    animation: spin 0.2s linear;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
  }
  .language {
    position: relative;
  }
  @-webkit-keyframes spin {
    100% {
      -webkit-transform: rotate(180deg);
      transform: rotate(180deg);
    }
  }
  @keyframes spin {
    100% {
      -webkit-transform: rotate(180deg);
      transform: rotate(180deg);
    }
  }
}

.c-footer {
  width: 100%;
}

.c-footer-bottom {
  background-color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 40px;
  padding: 0px 30px;
  color: white;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 12px;
}

.c-footer-top {
  background-color: #191261;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 25px 30px 0px;
  color: white;
}

.c-footer-top--social {
  margin-top: 36px;
  height: auto;
  width: 100%;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
}

.c-footer-top--social-img {
  width: 110px;
}

.c-footer-top--social:hover {
  color: white;
  font-family: 'Avenir LT Std 85 Heavy';
}

.c-footer-top--nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 0 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.c-footer-top--nav__col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  margin-bottom: 13px;
  text-align: left;
}

.c-footer-top--nav__colSpecial {
  margin-right: 0px;
  -webkit-margin-before: 0px;
          margin-block-start: 0px;
  -webkit-margin-after: 30px;
          margin-block-end: 30px;
}

.c-footer-top--company {
  color: white;
  font-size: 18px;
  font-family: 'Avenir LT Std 95 Black';
}

.c-footer-top--email {
  color: white;
  font-family: 'Avenir LT Std 85 Heavy';
}

.c-footer-top--option {
  color: white;
  line-height: 24px;
}

.c-footer-top--option__top {
  font-family: 'Avenir LT Std 85 Heavy';
  font-size: 18px;
  color: white;
  padding-bottom: 11px;
}

.c-footer-top p {
  line-height: 24px;
}

@media only screen and (min-width: 768px) {
  .c-footer-top--nav__col {
    width: 50%;
    text-align: center;
  }
  .c-footer-top--nav__colSpecial {
    width: 100%;
    text-align: center;
  }
  .c-footer-top--social {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-left: -90px;
  }
}

@media only screen and (min-width: 1024px) {
  .c-footer-top--nav__col {
    width: 17%;
    text-align: left;
  }
  .c-footer-top--nav__colSpecial {
    margin-right: 20px;
    -webkit-margin-after: 0px;
            margin-block-end: 0px;
    margin-bottom: 0px;
  }
  .c-footer-top--social {
    margin-left: -25%;
  }
}

.c-modal-background {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0px;
  z-index: 8;
}

.c-modal {
  background-color: #e6e7e8;
  width: 70vw;
  height: 70vh;
  position: fixed;
  left: calc(15vw - 20px);
  top: 15vh;
  z-index: 9;
  padding: 20px;
}

.c-modal--content {
  padding-right: 10px;
  overflow: auto;
  height: calc(70vh - 80px);
}

.c-modal--cross {
  width: 30px;
  position: absolute;
  right: 10px;
  top: 10px;
}

.c-cmodal {
  background-color: #e6e7e8;
  width: 70vw;
  height: 80vh;
  position: fixed;
  left: calc(15vw - 20px);
  top: 80px;
  z-index: 9;
  padding: 20px;
}

.c-cmodal--content {
  padding-right: 10px;
  overflow: auto;
  height: calc(70vh - 80px);
}

.c-cmodal--cross {
  width: 30px;
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 10;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
}

.c-cmodal--cross:hover {
  background-color: rgba(255, 255, 255, 0.8);
}

.c-cmodal-background {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0px;
  z-index: 8;
}

.c-cmodal--gallery {
  width: 100%;
}

.c-cmodal--gallery .image-gallery-image {
  height: 70vh;
  -o-object-fit: cover !important;
     object-fit: cover !important;
}

.c-cmodal--gallery .image-gallery {
  height: 80vh;
}

.c-cmodal--gallery .image-gallery-thumbnail-image {
  height: 10vh;
  -o-object-fit: cover;
     object-fit: cover;
}

.c-cmodal .owl-item {
  background-color: #6D6E70;
  height: 80%;
}

.c-cmodal .owl-item .item {
  height: calc(90vh - 125px);
}

.c-cmodal .owl-item .item img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
}

.c-cmodal .owl-theme {
  margin-top: 30px;
}

.c-cmodal .owl-nav {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  margin-top: 3px !important;
}

.c-cmodal .owl-nav button {
  width: 34px;
  height: 34px;
}

.c-cmodal .owl-nav button span {
  font-size: 28px;
}

.c-cmodal .owl-dots {
  position: absolute;
  margin-top: 15px;
  width: 50%;
  left: 25%;
  height: 10%;
}

.c-arrow {
  background-color: #191261;
  border: 1px solid #6D6E70;
  border-radius: 15%;
  position: fixed;
  bottom: 35px;
  right: 40px;
  width: 30px;
  height: 30px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.c-company {
  background-color: #FFF;
  z-index: 3;
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 100px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.c-company h1 {
  font-size: 32px;
  font-family: 'Avenir LT Std 95 Black';
  text-align: center;
  -webkit-margin-after: 20px;
          margin-block-end: 20px;
  -webkit-margin-before: 0;
          margin-block-start: 0;
}

.c-company h4 {
  margin-top: 20px;
  font-family: 'Avenir LT Std 85 Heavy';
  line-height: 27px;
  margin-bottom: 30px;
}

.c-company p {
  line-height: 25px;
  -webkit-margin-before: 0em;
          margin-block-start: 0em;
  -webkit-margin-after: 1em;
          margin-block-end: 1em;
}

.c-company--carousel {
  height: 500px;
  margin-bottom: 50px;
  margin-top: 10px;
  border-top: 1px solid #6D6E70;
  padding-top: 40px;
}

.c-company--carousel .item {
  height: 500px;
  overflow: hidden;
}

.c-company--carousel .item img {
  height: 500px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 40%;
     object-position: 50% 40%;
}

.c-company--img {
  width: 100%;
  height: 500px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 14%;
     object-position: 50% 14%;
}

.c-company--card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 20px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 50px;
}

.c-company--card--left {
  width: 100%;
  position: relative;
}

.c-company--card--right {
  width: 100%;
}

.c-company--card--right h4 {
  -webkit-margin-before: 1em;
          margin-block-start: 1em;
}

.c-company--card--img {
  height: 400px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.c-company--card--photo {
  height: 42px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  position: absolute;
  top: 360px;
  color: white;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.158)), to(#6D6E70));
  background-image: linear-gradient(rgba(0, 0, 0, 0.158), #6D6E70);
}

.c-company--card--end {
  -webkit-margin-before: 2em !important;
          margin-block-start: 2em !important;
}

.c-company--card--firm {
  text-align: right;
}

.c-company--portfolio {
  margin: auto;
  padding: 20px;
  border: none;
  border-radius: 10px;
  background-color: #3b3a4b;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
  color: white;
  font-weight: 800;
  font-size: 16px;
}

.c-company--portfolio:hover {
  background-color: #292183;
}

@media only screen and (min-width: 768px) {
  .c-company {
    padding: 60px;
    padding-top: 100px;
  }
}

@media only screen and (min-width: 1024px) {
  .c-company--card--left {
    width: 48%;
  }
  .c-company--card--right {
    width: 48%;
  }
  .c-company--card--right h4 {
    -webkit-margin-before: 0em;
            margin-block-start: 0em;
  }
}

.c-home {
  height: 100vh;
  background-color: #191261;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.c-home img {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  width: 300px;
  z-index: 1;
}

.c-home .fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
}

.c-home .bounceIn {
  -webkit-animation-name: bounceIn;
  animation-name: bounceIn;
}

.c-home--presentation {
  position: absolute;
  color: white;
  text-align: center;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
  opacity: 0;
  margin-top: 35px;
}

.c-home--presentation h1 {
  font-size: 30px;
  font-family: 'Avenir LT Std 95 Black';
  -webkit-margin-before: 0em;
          margin-block-start: 0em;
  -webkit-margin-after: 0em;
          margin-block-end: 0em;
  margin-bottom: 20px;
  padding: 20px;
  text-shadow: 0 0 0.2em #000;
}

.c-home--presentation span {
  font-size: 20px;
  font-family: 'Avenir LT Std 65 Medium';
  text-shadow: 0 0 0.2em #000;
}

.c-home--background-container {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.background-video {
  position: absolute;
  width: auto;
  height: auto;
  min-width: 100%;
  min-height: 100%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.overflowHidden {
  overflow: hidden;
}

.notDisplay {
  display: none;
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes bounceIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.3);
            transform: scale(0.3);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes bounceIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.3);
            transform: scale(0.3);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@media only screen and (min-width: 1024px) {
  .c-home2--presentation h1 {
    font-size: 38px;
  }
}

.c-courses {
  background-color: #FFF;
  z-index: 3;
  padding: 30px;
  padding-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.c-courses--carousel-wrapper {
  width: 100%;
}

.c-courses--info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 15px;
}

.c-courses--text {
  width: 100%;
}

.c-courses--carousel {
  height: 425px;
}

.c-courses--carousel .owl-item {
  background-color: #6D6E70;
  height: 425px;
}

.c-courses--carousel .owl-item .item {
  height: 425px;
}

.c-courses--carousel .owl-item .item img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
}

.c-courses h1 {
  font-size: 32px;
  font-family: 'Avenir LT Std 95 Black';
  text-align: center;
  -webkit-margin-after: 0px;
          margin-block-end: 0px;
  -webkit-margin-before: 0;
          margin-block-start: 0;
}

.c-courses p {
  line-height: 22px;
}

.c-courses a {
  color: #191261;
}

.c-courses a:hover {
  color: #292183;
}

@media only screen and (min-width: 768px) {
  .c-courses {
    padding: 60px;
    padding-top: 100px;
  }
}

@media only screen and (min-width: 1024px) {
  .c-courses--carousel-wrapper {
    width: 49%;
  }
  .c-courses--text {
    width: 40%;
  }
}

.c-showrooms {
  background-color: #FFF;
  z-index: 3;
  padding: 30px;
  padding-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.c-showrooms h1 {
  font-size: 32px;
  font-family: 'Avenir LT Std 95 Black';
  text-align: center;
  -webkit-margin-after: 5px;
          margin-block-end: 5px;
  -webkit-margin-before: 0;
          margin-block-start: 0;
}

.c-showrooms p {
  line-height: 22px;
}

.c-showrooms a {
  color: #191261;
}

.c-showrooms a:hover {
  color: #292183;
}

.c-showrooms--left {
  width: 100%;
}

.c-showrooms--left img {
  width: 100%;
}

.c-showrooms--right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  padding-bottom: 15px;
  overflow: hidden;
}

.c-showrooms--content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.c-showrooms--img {
  height: 100%;
  width: 29%;
  margin-top: 10px;
  margin-left: 10px;
  -o-object-fit: cover;
     object-fit: cover;
  padding-bottom: 10px;
}

.c-showrooms--expositor {
  margin-top: 10px;
}

@media only screen and (min-width: 768px) {
  .c-showrooms {
    padding: 60px;
    padding-top: 100px;
  }
}

@media only screen and (min-width: 1024px) {
  .c-showrooms--left {
    width: 49%;
  }
  .c-showrooms--right {
    width: 49%;
  }
}

.c-contact {
  background-color: #FFF;
  z-index: 3;
  padding: 60px;
  padding-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.c-contact--title {
  font-size: 32px;
  font-family: 'Avenir LT Std 95 Black';
  text-align: center;
  -webkit-margin-after: 20px;
          margin-block-end: 20px;
  -webkit-margin-before: 0;
          margin-block-start: 0;
}

.c-contact--map {
  border: 1px solid black;
  margin-bottom: 20px;
}

.c-contact--container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.c-contact button {
  height: 30px;
  width: 100px;
  margin: auto;
  margin-top: 0px;
}

.c-social-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 40px;
}

.c-social-container img {
  width: 200px;
}

.c-social-container span {
  color: #191261;
  width: 100px;
}

.c-social-container:hover span {
  font-family: 'Avenir LT Std 85 Heavy';
}

.c-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 500px;
}

.c-form--checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
}

.c-form--checkbox label {
  margin-left: 15px;
  margin-top: 4px;
}

.c-form--error {
  border: 2px solid #b50000;
}

.c-form--privacy {
  cursor: pointer;
}

.c-form--privacy:hover {
  cursor: pointer;
  text-decoration: underline;
  color: #6D6E70;
}

textarea {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #e6e7e8;
  border: none;
  margin: 10px 0px;
  padding: 10px;
  border-radius: 5px;
}

input {
  background-color: #e6e7e8;
  border-radius: 5px;
  border: none;
  margin: 10px 0px;
  height: 32px;
  padding: 0 10px;
}

.c-table {
  border-collapse: collapse;
  width: 90%;
  margin: auto;
  margin-top: 2em;
  font-size: 11px;
}

.c-table--title {
  text-align: center !important;
}

.c-table th {
  border: 1px solid black;
  padding: 8px;
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #6c83ae;
  color: white;
}

.c-table td {
  border: 1px solid black;
  padding: 8px;
}

.c-table tr {
  background-color: #adb8ce;
}

.c-table tr:nth-child(even) {
  background-color: #c1cde3;
}

.c-table tr:hover {
  background-color: #e6e7e8;
}

.c-seal {
  height: 80px;
  margin-left: 5%;
}

.c-fullscreen-img--box {
  position: relative;
}

.c-fullscreen-img--box .c-fullscreen-img--desc {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 20px;
  padding-bottom: 30px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #e6e7e8bd;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.c-fullscreen-img {
  width: 100%;
  height: calc(100vh - 100px - 25px - 55px);
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 0px 100%;
     object-position: 0px 100%;
}

.c-fullscreen-img--no-subtitle {
  width: 100%;
  height: calc(100vh - 100px - 25px - 38px);
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 0px 100%;
     object-position: 0px 100%;
}

.c-materials {
  background-color: #FFF;
  z-index: 3;
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.c-materials h1 {
  font-size: 36px;
  font-weight: 800;
}

.c-materials--product-list {
  width: 100%;
}

.c-materials--extra-img {
  display: none;
}

.c-materials--product-img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 473px;
}

.c-materials--product-img--box {
  width: 100%;
  margin-top: 20px;
  height: 473px;
  cursor: pointer;
  position: relative;
}

.c-materials--product-img--box .c-materials--showmore {
  background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), to(#191261));
  background-image: linear-gradient(transparent, #191261);
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.c-materials--product-img--box .c-materials--showmore span {
  margin-top: 10px;
  color: white;
  margin-left: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.c-materials--product-img--box .c-materials--showmore span img {
  margin-right: 10px;
}

.c-materials--product-img--box:hover .c-materials--showmore span {
  text-decoration: underline;
}

.c-materials--product-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.c-materials--product-box--wrapper {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.c-materials--guide {
  height: 50px;
  width: 200px;
  margin-top: 20px;
  background-color: #292183;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  border-radius: 10px;
}

.c-materials--guide:hover {
  background-color: #191261;
}

.c-materials--header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.c-materials--header--title {
  font-size: 32px;
  -webkit-margin-after: 0;
          margin-block-end: 0;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  padding: 0px 10px;
  text-align: center;
  font-family: 'Avenir LT Std 95 Black';
}

.c-materials--header--subtitle {
  font-size: 14px;
  font-family: 'Avenir LT Std 95 Black';
}

.c-materials--header--icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-top: 20px;
  margin-left: 23px;
}

.c-materials--header--icons--double {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  margin-top: 30px;
  margin-left: 10px;
}

.c-materials--header--icons--double .c-seal {
  margin-left: 0%;
}

.c-materials--properties {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.c-materials--properties img {
  margin-bottom: 5px;
  margin-right: 5px;
}

.c-materials--prop-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 30px;
}

.c-materials--prop-col {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.c-materials--presentation {
  font-size: 18px;
  font-family: 'Avenir LT Std 85 Heavy';
  text-align: center;
}

.c-materials--subpresentation {
  font-size: 15px;
  font-style: italic;
  font-weight: 300;
  margin-bottom: 20px;
  font-family: 'Avenir LT Std 35 Light';
}

.c-materials--base {
  font-size: 17px;
  font-family: 'Avenir LT Std 85 Heavy';
}

.c-materials--exp {
  font-size: 16px;
  font-family: 'Avenir LT Std 35 Light';
  line-height: 22px;
  padding-left: 23px;
}

.c-materials--sis {
  font-size: 20px;
  font-family: 'Avenir LT Std 85 Heavy';
  text-align: center;
  background-color: #FFF;
}

.c-materials--sis-box {
  background-color: #FFF;
  z-index: 2;
  padding: 0 20px;
  margin-top: 20px;
}

.c-materials--hr {
  border-top: 1px solid #6D6E70;
  height: 1px;
  width: 100%;
  margin-top: 28px;
  position: absolute;
}

.c-materials--hr-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 15px 0px;
  text-align: center;
}

.c-materials--notes-box {
  background-color: #e6e7e8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 40px;
  padding-bottom: 10px;
  width: 70%;
  margin-left: 15%;
}

.c-materials--note {
  font-size: 15px;
  font-style: bold;
  font-weight: 500;
  line-height: 15px;
  margin-bottom: 10px;
  margin-left: 30px;
  margin-right: 15px;
}

.c-materials--note__title {
  margin-top: 10px;
  margin-bottom: 5px;
  margin-left: 15px;
  font-size: 16px;
  font-family: 'Avenir LT Std 85 Heavy';
  font-weight: 500;
  line-height: 30px;
}

.c-materials--top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0px 0px 25px;
  padding-top: 100px;
}

.c-materials--block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 16px;
  padding: 20px 20px;
  border: 1px solid #191261;
}

.c-materials--block--op {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 40px;
  font-family: 'Avenir LT Std 85 Heavy';
}

.c-materials--block--prod {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 25px;
  cursor: pointer;
  color: black;
}

.c-materials--block--prod:hover {
  color: black;
}

.c-materials--button {
  margin-top: 20px;
  padding: 15px 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #191261;
  color: white;
  font-weight: 800;
}

.c-materials--table {
  width: 100%;
  overflow-x: auto;
}

.centered-image {
  -o-object-position: 0px 50% !important;
     object-position: 0px 50% !important;
}

@media only screen and (min-width: 768px) {
  .c-table {
    font-size: 14px;
  }
  .c-materials {
    padding: 60px;
  }
  .c-materials--prop-col {
    width: 49%;
  }
}

@media only screen and (min-width: 1024px) {
  .c-materials--product-list {
    width: 100%;
  }
  .c-materials--product-img {
    width: 100%;
  }
  .c-materials--product-box--wrapper {
    width: 49%;
  }
  .c-materials--extra-img {
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: 50%;
       object-position: 50%;
    margin-top: 20px;
    display: block;
  }
  .c-materials--extra-img--tradegraff {
    height: 117px;
    -o-object-position: 50% 40%;
       object-position: 50% 40%;
  }
  .c-materials--extra-img--rustop {
    height: 318px;
  }
  .c-materials--extra-img--hydrograff {
    height: 140px;
  }
  .c-materials--extra-img--tradecote {
    height: 142px;
  }
  .c-materials--extra-img--tradetherm {
    height: 318px;
  }
  .c-materials--product-img--box {
    width: 49%;
    margin-top: 20px;
    height: 473px;
    cursor: pointer;
    position: relative;
  }
  .c-materials--product-img--box .c-materials--showmore {
    background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), to(#191261));
    background-image: linear-gradient(transparent, #191261);
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    opacity: 0.6;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .c-materials--product-img--box .c-materials--showmore span {
    margin-top: 10px;
    color: white;
    margin-left: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .c-materials--product-img--box .c-materials--showmore span img {
    margin-right: 10px;
  }
  .c-materials--product-img--box:hover .c-materials--showmore {
    opacity: 1;
  }
  .c-materials--header--icons--double {
    margin-left: 23px;
  }
  .c-materials--header--icons--double .c-seal {
    margin-left: 10%;
  }
  .c-table {
    font-size: 16px;
  }
}
/*# sourceMappingURL=main.css.map */